# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
dist/
build/
.env
.env.*
.DS_Store
coverage/
logs/
*.log
*.tsbuildinfo

# Optional
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
*.swp
*.swo
*.bak
*.tmp
*.orig
*.local